<div class="playlist-index-container">
    <div class="playlist-data-container">
        <div class="playlist-data data-one">
            <h3>Danceability: {{ playlistIndex.Danceability }}</h3>
        </div>
        <div class="playlist-data data-two">
            <h3>Energy: {{ playlistIndex.Energy }}</h3>
        </div>
        <div class="playlist-data data-three">
            <h3>Happiness: {{ playlistIndex.Valence }}</h3>
        </div>
        <div class="playlist-data data-four">
            <h3>Total Playtime: {{ playlistIndex.Duration_ms }}</h3>
        </div>
    </div>
    <div class="playlist-card-container" *ngIf="playlistIndex != null">
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile *ngFor="let playlist of playlistIndex">
                <mat-card class="playlist-card">
                    <img mat-card-image src="{{ playlist.ImageUrl }}" />
                    <mat-card-header>
                        <mat-card-title>{{ playlist.PlaylistName }}</mat-card-title>
                        <mat-card-subtitle> {{ playlist.IsOwned }} </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
