.playlist-index-container {
    display: grid;
    grid-template-columns: .7fr 50px 1.3fr;
    color: #fbfbfb;
    margin-top: 50px;
}

@media(max-width: 968px){
    .playlist-index-container {
        display: block;
        color: #fbfbfb;
        margin-top: 50px;
        text-align: center;
    }
}

.playlist-data-container {
    grid-column: 1 / span 1;
    margin-left: 10px;
}

.playlist-data {
    background: #374140;
    margin: 20px 10px;
    padding: 5px 20px;
    border-radius: 15px;
}

.playlist-card-container {
    grid-column: 3 / span 1;
    overflow:scroll;
    overflow-x: hidden;
    height: 70vh;
}

.playlist-card {
    width: 200px;
    padding: 50px 25px 25px 25px;
    text-align: center;
    height: 400px;
    background-color: #374140;
}

mat-card:hover {
    outline: 5px solid #1976D2;
}

.playlist-card>img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

mat-card-header{
    text-align: center;
    color: #fbfbfb;
    width: 100%;
}

/deep/ .mat-card-header-text {
    width: 165px;
    text-align: center;
}

mat-card-title{
    text-align: center;
    font-size: .9em;
}

mat-card-subtitle{
    text-align: center;
    color: #fbfbfb;
    font-size: .7em;
}

.scrollbar-secondary::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #374140;
    border-radius: 10px; }
    
    .scrollbar-secondary::-webkit-scrollbar {
    width: 12px;
    background-color: #374140; }
    
    .scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #8F57E1; }