<div class="about-container">
    <h1 class="about-text">About <span class="app-name">MusicQ<span class="highlight">EAR</span>Y</span></h1>  

    <hr>

    <p class="about-description">
        MusicQEARY lets you see a visual representation of the musical attributes of your Spotify Playlists and Songs. We use Spotify's API to get a variety of data about the music you listen to and create playlist averages and user averages for your audio data.   
    </p>
    <p>
        We look at the following data: 
    </p>
    <dl>
        <dt>
            Danceability
        </dt>
        <dd>
            Tempo, rhytmic stability, strength of beat, and regularity.
        </dd>
        <dt>
            Energy
        </dt>
        <dd>    
            Speed, loudness, and noisiness.
        </dd>   
        <dt>
            Instrumentalness
        </dt>
        <dd>
            Lack of vocals in a track ("Ooh" and "aah" do not count as vocals for this feature)
        </dd>
        <dt>
            Liveness
        </dt>
        <dd>
            The presence of an audience in the recording.
        </dd>
        <dt>
            Speechiness
        </dt>
        <dd>
            Presence of spoken words in the track.
        </dd>
        <dt>
            Valence
        </dt>
        <dd>
            Positiveness of the track (higher valence tracks sound more happy).
        </dd>
        <dt>
            Acousticness
        </dt>
        <dd>
            The presence of acoustic instruments in the track.
        </dd>
    </dl>

    <br>
    <br>

    <p>Home page logo created for free at <a href="my.logomakr.com">LogoMakr.com</a></p>
</div>
    
