mat-toolbar {
    background-color: #374140;
    color: #8f57e1;
}

.highlight {
    color: #1976D2;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: #2a2a2e;
    color: #fbfbfb;
}