<mat-toolbar>
    <a routerLink="home" class="nav-logo" *ngIf="!isLoggedIn">MusicQ<span class="highlight">EAR</span>Y</a>
    <a routerLink="/playlist" class="nav-logo" *ngIf="isLoggedIn">MusicQ<span class="highlight">EAR</span>Y</a>
    <span class="example-fill-remaining-space"></span>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <mdb-icon fas icon="user" [matMenuTriggerFor]="appMenu" class="icon"></mdb-icon>
</mat-toolbar>
