<p>admin-login works!</p>
<!-- <a class="btn-floating btn-lg purple-gradient" click()="runBigWipe()"><i class="fas fa-dumpster-fire"></i></a>
<a class="btn-floating btn-lg purple-gradient" click()="runBiggestWipe()"><i class="fas fa-dumpster-fire"></i></a> -->
<button type="button" class="btn-floating btn-lg purple-gradient" (click)="runBigWipe()"><i class="fas fa-dumpster-fire"></i></button>
<button type="button" class="btn-floating btn-lg purple-gradient" (click)="runBiggestWipe()"><i class="fas fa-dumpster-fire"></i></button>