<div class="form-continer">
    <form (ngSubmit)="onSubmit()" [formGroup]="_registerForm">
        <div>
            <label>Enter a password for your MusicQEARY account</label>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="password" formControlName="password" type="password" required />
                </mat-form-field>
            </div>
        </div>
        <button mat-flat-button class="register-btn">Create Account</button>
    </form>
</div>
