<div class="form-continer">
    <form (ngSubmit)="onSubmit()" [formGroup]="_registerForm">
        <div>
            <label>Enter a password for your MusicQEARY account</label>
            <div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="password" formControlName="password" type="password" required />
                            <mat-error *ngIf="_registerForm.hasError('required', 'password')">
                                Please enter a Password
                            </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="confirm password" formControlName="confirmPassword" type="password" required />
                            <mat-error *ngIf="_registerForm.hasError('notSame')">
                                Passwords do not match
                            </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button mat-flat-button class="register-btn">Create Account</button>
    </form>
</div>
