<div class="song-index-container">

    <h2>{{ playlist.PlaylistName }}</h2>
        <div class="song-data-container">
            <div class="song-data data-one">
                <h3>Danceability: {{ playlist.Danceability }}</h3>
            </div>
            <div class="song-data data-two">
                <h3>Energy: {{ playlist.Energy }}</h3>
            </div>
            <div class="song-data data-three">
                <h3>Happiness: {{ playlist.Valence }}</h3>
            </div>
            <div class="song-data data-four">
                <h3>Total Playtime: {{ playlist.Duration_ms }}</h3>
            </div>
        </div>
        <div class="song-card-container" *ngIf="songIndex != null">
            <iframe src="https://open.spotify.com/embed/playlist/{{playlist.PlaylistId}}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <mat-grid-list cols="4" rowHeight="2:3.2">
                <mat-grid-tile *ngFor="let song of songIndex">
                    <mat-card class="song-card">
                        <img mat-card-image src="{{ song.ImageUrl }}" />
                        <mat-card-header>
                            <mat-card-title>{{ song.Name }}</mat-card-title>
                            <mat-card-subtitle> {{ song.Artists }} </mat-card-subtitle>
                            <mat-card-subtitle> {{ song.AlbumName }} </mat-card-subtitle>
                        </mat-card-header>
                        <a mat-flat-button routerLink="/song/detail/{{ song.SongId }}">See more</a>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>