.song-index-container {
    display: grid;
    grid-template-columns: .7fr 50px 1.3fr;
    color: #fbfbfb;
    margin-top: 50px;
}

.song-data-container {
    grid-column: 1 / span 1;
    margin-left: 10px;
}

.song-data {
    background: #374140;
    margin: 20px 10px;
    padding: 5px 20px;
    border-radius: 15px;
}

.song-card-container {
    grid-column: 3 / span 1;
    overflow:scroll;
    height: 70vh;
}

.song-card {
    width: 200px;
    padding: 25px 10px;
    text-align: center;
    height: 400px;
    background-color: #374140;
}

.song-card>img {
    width: 150px;
}

mat-card-header{
    text-align: center;
    color: #fbfbfb;
}

mat-card-title{
    font-size: .9em;
}

mat-card-subtitle{
    color: #fbfbfb;
    font-size: .7em;
}