<div class="register-container">

<h1>Welcome to MusicQEARY</h1>
<div class="register-form-block">
    <h4>Create Your Account</h4>

    <form (ngSubmit)="onSubmit()" [formGroup]="_registerForm">
        <div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="username" formControlName="userName" type="username" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="email" formControlName="email" type="email" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="password" formControlName="password" type="password" required/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="confirm password" formControlName="confirmPassword" type="password" required/>
                </mat-form-field>
            </div>
        </div>
        <button mat-flat-button class="register-btn" type="submit">Register</button>
    </form>
</div>
</div>
